<%=stock=stock=Stock.find_by(id: params[:id])%>
<tr>
      <th scope="row"><%= stock.ticker %></th>
      <td><%= stock.name %></td>
      <td><%= stock.last_price %></td>
      <td><%= link_to 'Remove', user_stock_path(stock), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-warning' %></td>
      <td><%= link_to 'update', stock_path(stock), method: :patch, class: 'btn btn-sm btn-primary' %></td>
    </tr>
