<%= link_to "FINANCE TRACKER",root_path%>

<%= link_to 'Sign out', destroy_user_session_path,method: :delete%>

<h1>My portfolio</h1>

<h3>Search Stocks</h3>
<%= form_tag search_stock_path,remote: true, method: :get do%>
<%=text_field_tag :stock, params[:stocks],placeholder: "stock ticker symbol",autofocus: true%>
<%=button_tag type: :submit  do%>
<%="search"%>
<%end%>
<%end%>
<div id ="results">

</div>

<% if !@tracked_stocks.empty?%>
<%= render 'stocks/list'%>
<%end%>
